.channel-menu-popup {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  margin-left: 20.3%;
  margin-top: -43px;
  box-shadow: 2px 1px 2px 1px #d3d3d3;
  border-radius: 50px;
}

.channel-menu-popup a {
  color: black;
  background-color: #d3d3d3;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  background-color: blue(212, 208, 208);
  border-radius: 2px;
  margin: 2px;
  border-radius: 50px;
}

.channel-menu-popup a:hover {
  background-color: red;
  color: white;
}
