.chat {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  background-color: white(231, 231, 231);
  height: 100vh;
}

.chat__input {
  color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  color: #696969;
  background-color: #dcdcdc;
  height: 15px;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  width: 100%;
  border: none;
  outline-width: 0;
  color: white;
  font-size: large;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}

.chat__messages {
  flex: 1;
}

.chat__inputIcons :hover {
  color: black;
}
