.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: black;
  background-color: #d3d3d3;
  margin: 5px;
  border-radius: 20px;
}

.message h4 {
  font-weight: 500;
}

.message__info {
  margin-left: 20px;
}

.message__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
