.sidebarChannel:hover > h4 {
  color: black;
  background-color: #bbf4f7;
}

.sidebarChannel > h4 {
  display: flex;
  padding-left: 15px;

  align-items: center;
  background-color: #5bc2c7;
  color: black;
  cursor: pointer;
}
.sidebarChannel__hash {
  font-size: 30px;
  padding: 8px;
}
